body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.header {
  background-color: #f55a5a;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    color: white;
    margin: 0;
    margin-left: 7px;
    font-weight: normal;
  }
}

.main-content {
  margin: auto;
  max-width: 800px;

  &__container {
    margin: 30px 40px;
  }
}

.card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  padding: 30px 0;

  &__image {
    min-width: 155px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
  }

  &__top-info {
    display: flex;
    align-items: center;
  }

  &__location-icon {
    width: 12px;
    margin-right: 7px;
  }

  &__location-text {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    margin-right: 14px;
  }

  &__link {
    color: #918e9b;
  }

  &__title {
    margin-top: 5px;
  }

  &__description {
    margin-top: 10px;
  }
}
